body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#6600FF;
	color:#c0c0c0;
	}
	
h1 {
	font-size:32px;
	color:#c0c0c0;
	background-color:#000000;
	}
	
h2 {
	font-size:28px;
	color:#000000;
	background-color:#000000;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#000000;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#000000;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#00ff00;
	}
